@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400&family=Noto+Sans+Mono&display=swap');

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #FFF;
  font-family: 'Noto Sans Display', "Arial", sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

strong{
  font-family: 'Noto Sans Display', "Arial", sans-serif; 
  color: #000080;
  text-shadow: 1px 1px 1px rgba(255,0,0,0.4);  
  /* background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 60%; */
}

code{
  font-family: 'Noto Sans Mono', monospace;
  background: rgba(0,0,0,0.1);
}

span.cite{
  color: #000080;
  font-size: 0.7em;
  /* text-shadow: 1px 1px 1px rgba(255,0,0,0.4); */
}

div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 1.2em; text-align: right;
  padding-left: 1em;
  padding-right: 1em; 
  font-size: 60%;
  color: #000;
  background-color: rgb(240,240,240);
  border-top: solid 1px rgb(180,180,180);
}

div.toolbar span.copyright {
  color: black;
  margin-left: 0.5em;
}

div.initial_prompt {
  position: absolute;
  z-index: 1000;
  bottom: 1.2em;
  width: 100%;
  background-color: rgb(200,200,200);
  opacity: 0.35;
  background-color: rgba(200,200,200, 0.35);
  cursor: pointer;
}

div.initial_prompt p.help {
  text-align: center;
}

div.initial_prompt p.close {
  text-align: right;
  font-style: italic;
}

div.slidy_toc {
  position: absolute;
  z-index: 300;
  width: 60%;
  max-width: 30em;
  height: 30em;
  overflow: auto;
  top: auto;
  right: auto;
  left: 4em;
  bottom: 4em;
  padding: 1em;
  background: #FFF;
  border-style: solid;
  border-width: 2px;
  font-size: 60%;
}

div.slidy_toc .toc_heading {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-color: rgb(180,180,180);
  border-bottom-width: 1px;
}

div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
  font-size: 125%;
/*  text-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
}

div.background {
  display: none;
}

div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
/*
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
}

div.slide h1 {
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 200%;
  line-height: 1.2em;
  background: transparent;
  color: #000080;
  text-shadow: 2px 2px 2px rgba(255,0,0,0.4);
}

@media screen and (max-device-width: 1024px)
{
  div.slide { font-size: 100%; }
}

@media screen and (max-device-width: 800px)
{
  div.slide { font-size: 200%; }
  div.slidy_toc {
    top: 1em;
    left: 1em;
    right: auto;
    width: 80%;
    font-size: 180%;
    background-color: 2F2F2F;
  }
}

div.toc-heading {
  width: 100%;
  border-bottom: solid 1px rgb(180,180,180);
  margin-bottom: 1em;
  text-align: center;
}

img {
  image-rendering: optimize-quality;
}

pre {
 font-size: 80%;
 font-weight: bold;
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 border-style: solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: #95ABD0;
 color: #00428C;
 background-color: #E4E5E7;
}

li pre { margin-left: 0; }

blockquote { font-style: italic }

img { background-color: transparent }

p.copyright { font-size: smaller }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: #000080 }
a:link { color: #000080 }
a:hover { color: #FF0000 }
a:active { color: #FF0000 }

a {
  font-weight:  bold;
}
.toolbar a:link {color: #000080}
.toolbar a:visited {color: #000080}
.toolbar a:active {color: #000080}
.toolbar a:hover {color: #000080}

ul { list-style-type: disc; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: disc; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 100%; font-style: normal; }
li li li { font-size: 100%; font-style: normal; }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6,dl,table {
  margin-left: 1em;
  margin-right: 1em;
}

p.subhead { font-weight: bold; margin-top: 2em; }

.smaller { font-size: smaller }
.bigger { font-size: 200% }

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: disc; }
ul ul ul ul { list-style-type: circle; }

ul li { 
  list-style: disc;
  font-size: 90%;
  font-weight: 300;
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0;
  line-height: 120%;
}

ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  font-size: 90%;
  font-weight: 300;
  padding: 0 0 0 0px;
  line-height: 120%;
  list-style-type: decimal;
}

li ul li {  
  font-style: normal;
  font-weight: 300;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
li li ul li {  
  font-style: normal;
  font-weight: 300;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
li li li ul li {
  list-style-type: circle;
  font-weight: 300;
  background: transparent;
  padding: 0 0 0 0;
}

li ol li {
  list-style-type: decimal;
  font-weight: 300;
}


li li ol li {
  list-style-type: decimal;
  font-weight: 300;
}

table {
  margin-left: 80px;
  font-weight: 300;
  font-size: 90%;
  /* border-top: 2px solid #000; */
  /* border-bottom: 2px solid #000; */
  border-collapse: collapse;
}

td,th { padding: 0.4em }

th, tr {
  /* background-color: #eee; */
  text-align: left;
}

iframe {
  padding-left: 60px;
  padding-right: 60px;
}

embed, div.figure {
  padding-left: 40px;
  padding-right: 40px;
}

button {
  border: none;
  background-color: inherit;
  color: #000080;
  padding: 10px 10px;
  text-align: left;
  display: inline-block;
  font-size: 90%;
  margin: 4px 2px;
  cursor: pointer;
}

/* Play, link, other pseudoelement icons */

button::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000080;
  content: "\f04b";
}

a[href^='http']::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: inherit;
  content: "\f0c1";
  margin: 0px 0px 0px 6px;
}

a[href*='#(']::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: inherit;
  content: "\f0c1";
  margin: 0px 0px 0px 6px;
}

/* Bibliography styling */

.bib {
    padding-left: 24px;
    text-indent: -24px;
}

.bib p {
  font-size: 70%;
  line-height: 1em;
}

.bib h1 {
    padding-left: 0px;
    text-indent: 0px;
    font-size: 20pt;
    line-height: 1.2em;
}

.bib a[href^='http']::after {
  display: inline-block;
  text-rendering: auto;
  position: relative;
  left: 26px;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 0.8em;
  color: inherit;
  content: "\f0c1";
  margin: 0px 0px 0px 0px;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
a.titleslide { font-weight: bold; font-style: italic }

/*
 hide images for work around for save as bug
 where browsers fail to save images used by CSS
*/
img.hidden { display: none; visibility: hidden }
div.initial_prompt { display: none; visibility: hidden }

  div.slide {
     visibility: visible;
     position: inherit;
  }
  div.handout {
     border-top-style: solid;
     border-top-width: thin;
     border-top-color: black;
  }

@media screen {
  .hidden { display: none; visibility: visible }

  div.slide.hidden { display: block; visibility: visible }
  div.handout.hidden { display: block; visibility: visible }
  div.background { display: none; visibility: hidden }
  body.single_slide div.initial_prompt { display: block; visibility: visible }
  body.single_slide div.background { display: block; visibility: visible }
  body.single_slide div.background.hidden { display: none; visibility: hidden }
  body.single_slide .invisible { visibility: hidden }
  body.single_slide .hidden { display: none; visibility: hidden }
  body.single_slide div.slide { position: absolute }
  body.single_slide div.handout { display: none; visibility: hidden }
}

@media print {
  .hidden { display: block; visibility: visible }

  div.slide pre { font-size: 60%; padding-left: 0.5em; }
  div.toolbar { display: none; visibility: hidden; }
  div.slidy_toc { display: none; visibility: hidden; }
  div.background { display: none; visibility: hidden; }
  div.slide { page-break-before: always }
  /* :first-child isn't reliable for print media */
  div.slide.first-slide { page-break-before: avoid }
}

/** footer **/
footer {
  padding:20px 0px;
}

footer p {
  color:#ddd;
  margin:40px;
  font-size:0.6em;
  /* text-align: center; */
}
footer p a {
  color:#ddd;
  font-weight:bold;
  text-decoration:none;
}

footer a[href^='http']::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ddd;
  content: "\f0c1";
  margin: 0px 0px 0px 3px;
}

footer p a:link { color:#ddd; border-bottom-color: #ddd; }

/* slidy.css

   Copyright (c) 2005-2010 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
*/